@model Page
<script src="~/js/CKEditor/ckeditor.js" type="text/javascript" language="javascript"></script>
<script src="https://cdn.ckeditor.com/ckeditor5/23.0.0/classic/ckeditor.js"></script>
 @*<script src="https://cdn.ckeditor.com/4.15.0/standard/ckeditor.js"></script>*@

@{
    ViewBag.Title = ViewBag.Title;
}
<article>
    <h1>@ViewBag.Title</h1>
    <h2>@TempData["result"]</h2>
    <form method="post">
          <div class="form-group">
            <label asp-for="Name" class="control-label"></label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Url"></label>:-<label>@Context.Request.Scheme://@Context.Request.Host/</label>
            <input asp-for="Url" class="form-control" />
            <span asp-validation-for="Url" class="text-danger"></span>
        </div>

        <div class="control">
            <label asp-for="Description"></label>
            <textarea asp-for="Description"></textarea>
            <script type="text/javascript" language="javascript">
                CKEDITOR.ignoreEmptyParagraph = true;
                CKEDITOR.replace(@Html.IdFor(model => model.Description));
                CKEDITOR.config.allowedContent = true
                CKEDITOR.config.autoParagraph = false
                CKEDITOR.config.enterMode = CKEDITOR.ENTER_BR;
            </script>
            <span asp-validation-for="Description"></span>
        </div>
        <div class="form-group">
            <label asp-for="MetaTitle" class="control-label"></label>
            <input asp-for="MetaTitle" class="form-control" />
            <span asp-validation-for="MetaTitle" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="MetaKeyword" class="control-label"></label>
            <input asp-for="MetaKeyword" class="form-control" />
            <span asp-validation-for="MetaKeyword" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="MetaDescription" class="control-label"></label>
            <input asp-for="MetaDescription" class="form-control" />
            <span asp-validation-for="MetaDescription" class="text-danger"></span>
        </div>
        <div class="control">
            <label asp-for="Status"></label>
            <select class="form-control" asp-for="Status">
                <option value="true">Active</option>
                <option value="false">InActive</option>
            </select>
        </div>
        <div class="control">
            <button type="submit">Submit</button>
        </div>
    </form>
</article>